@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: #ebe4e4;
}

::-webkit-scrollbar-thumb {
    background: #c10909;
    -webkit-border-radius: 1ex;

}

::-webkit-scrollbar-corner {
    background: #d0bebe;
}